@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Plus Jakarta Sans;
    background: linear-gradient(#ffffff, #f0f1ff);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #13183f;
    margin: 16px;
}
.header-btn{
    background-color: #13183f;
    color: #ffffff;
    border-radius: 50px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    padding: 9px 24px 11px 24px;
    border: none;
}
.header-btn:hover{
    background-color: #666ca3;
    cursor: pointer;
}
.heading{
    color: #13183f;
    font-size: 40px;
    line-height: 50.4px;
    font-weight: 800;
    margin: 16px;
    margin-top: 32px;
}
.paragraph{
    color: #83869a;
    font-size: 16px;
    margin: 16px;
    line-height: 26px;
    font-weight: 500;
}
.course-card-text{
    color: #83869a;
    font-size: 16px;
    line-height: 28px;
    font-weight: 550;
}
.btn{
    background: linear-gradient(to right,#ff6f48, #f02aa6);
    color: #ffffff;
    border-radius: 50px;
    width: 167px;
    height: 56px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    margin: 16px;
    margin-top: 24px;
    border: none;
}
.btn:hover{
    background: linear-gradient(to right,#ff6f48, #ffa7c3);
    cursor: pointer;
}
.image{
    background-image: url(./images/image-hero-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 301px;
    width: 327px;
    margin: 24px;
    margin-top: 46px;
}
.courses-cards{
    margin: 40px 16px;
    /* border: #ff6f48 1px solid; */
    border-radius: 10px;
    /* box-shadow: 30px 56px 30px 56px #f0f1ff; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #ffffff;
}
#intro-card > h1{
  padding: 24px 29px 32px 28px;

}
#intro-card{
    color:#ffffff;
    font-weight: 800;
    font-size: 16px;
    line-height: 32px;
    border-radius: 10px;
    background: linear-gradient(to right,#ff6f48, #f02aa6);
}
.course-card-header{
    text-align: left;
    color: #13183f;
    font-weight: 800;
    font-size: 20px;
    margin: 0 214px 16px 0;    
}

.icon-animation  {
    display: block;
    width: 100%;
    padding:0 29px 0 28px;
}

.icon-animation img{
    position: relative;
    top: -24px;  
    width: 56px;
    height: 56px;
    
}
.course-card-text{
    /* border: #13183f 1px solid; */
    width: 100%;
   
}
.course-card-link{
    display: inline-block;
    margin-top: 24px;
    margin-bottom:  32px;
    color: #f74780;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}
.footer{
    display: flex;
    align-items: center;
    background-color: #13183f;
    width: 100%;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #ffffff;
    width: 100%;
}
.footer-btn{
    background: linear-gradient(to right,#4851ff, #f02aa6);
    color: #ffffff;
    border-radius: 50px;
    width: 128px;
    height: 48px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    border: none;
}
.footer-btn{
    background: linear-gradient(#4851ff, #ffa7c3);
    cursor: pointer;
}

@media (min-width: 576px) {
    .device-image{
        position: absolute;
        top: 5%;
        right: 0;
        width: 50%;
        height: 700px;
        background-image: url(./images/image-hero-tablet.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        margin-top: -105px;
        margin-right: 0;
    }
    .header {
        margin-bottom: 16px;
    }
    .header-btn {
        z-index: 1;
        border: none;
        margin-right: 40px;
    }
    .body-wrapper{
        width: 100%;
        margin: auto;
        margin-bottom: 86px;
    }
 
    .heading {
        font-size: 36px;
    }
    .beginning-text {
        height: 50vh;
        width: 48%;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .image {
        display: none;
    }
    .paragraph, 
    .course-card-text {
        font-size: 16px;
        font-weight: 500;
    }
    .courses {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 30%);
        gap: 32px 11px ;
        margin-right: 40;
        /* border: 3px solid red; */
    }
    .courses-cards{
        margin: 0;
    }
    #intro-card {
        width: 100%;
        height: 100%;
        padding: 56px 0 139px 32px;
        font-size: 24px;
        line-height: 32px;
        font-weight: 800;
    }
    .footer{
        width: 100%;
    }
}
@media (min-width: 992px) {
    .device-image {
      height: 95vh;
      top: 10px;
      background-image: url(./images/image-hero-desktop.png);
      background-position: 18px -180px;
      background-size: auto 120%;
    }
  .paragraph{
    font-size: 18px;
  }
    .heading {
      font-size: 56px;
      line-height: 70px;
    }
    .courses {
        width: 100%;
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        grid-template-rows: repeat(2, 44%);
        gap: 56px 30px;
        margin-right: 40px;
        /* border: 3px solid red; */
        margin-bottom: 140px;
        margin-top: 300px;
    }
    .header-btn {
        margin-right: 165px;
    }
    .icon-animation >h2{
        margin-top: 10px;

    }
    .beginning-text {
      margin-top: 185.57px;
      margin-bottom: 226px;
    }
  .course-card-text {
    font-size: 18px;
  }
    #intro-card {
      font-size: 32px;
      line-height: 40px;
      font-weight: 800;
    }
    #intro-card,
    .course-card {
      width: 100%;
    }
    .footer-wrapper {
      width: 80%;
      margin: auto;
    }
    .body-wrapper {
      width: 80%;
      margin: auto;
    }
  }
